.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: sans-serif;
  font-size: 20% !important;
}

.description {
  font-family: sans-serif;
}

.homeContainer {
  margin: 2rem;
}